/* Принудительная тёмная тема */
:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
  --link-shadow: #ff0070;
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --button-focus: rgba(255, 0, 112, 0.4);
}

:root.theme-dark .rec-label {
  display: block;
}

:root.theme-dark .header__theme-menu-button {
  color: var(--button-color);
}

:root.theme-dark .header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

:root.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}