/* light.css */
/* Принудительная светлая тема */
:root.theme-light {
  --accent-color: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --link-shadow: #ff8dcb;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --button-focus: rgba(50, 49, 45, 0.4);
  --bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .rec-label {
  display: none;
}

:root.theme-light .header {
  background-size: 100% 100%;
  background-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__theme-menu-button {
  color: var(--button-color);
}

:root.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

:root.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

/* Системная светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --link-shadow: #ff8dcb;
    --button-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --button-focus: rgba(50, 49, 45, 0.4);
    --bg-image: url("../images/cover-image-light.png");
  }

  .header {
    background-size: 100% 100%;
    background-image: url("../images/cover-image-light.png");
  }
  
  :root .rec-label {
    display: none;
  }
}