*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.3;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  background-attachment: fixed;
}

html.theme-dark {
  color-scheme: dark;
}

html.theme-light {
  color-scheme: light;
}

html.theme-auto {
  color-scheme: dark light;
}

.decorated-zone {
  position: relative;
}

.decor-corner {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decor-corner_position_top-right {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--gap);
  inset-block-start: var(--gap);
}

.decor-corner_position_bottom-left {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--gap);
  inset-block-end: var(--gap);
}

.rec-label {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: var(--gap);
  color: var(--accent-color);
  font-size: 18px;
}

.rec-label::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* ТЕЛЕФОН */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
  min-height: 668px;
  position: relative;
  background-position: center;
  background-size: 100% 100%; 
  background-image: url("../images/cover-image-dark.png");
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow);
  line-height: 0.825;
  align-self: center;
}

.header__subtitle {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px; 
  min-block-size: 117px;
  font-weight: bold;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
  padding: 2px 10px;
  padding-inline: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-item {
  display: flex;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--button-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 2px 12px;
  cursor: pointer;
  appearance: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px; 
  padding: 40px 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  font-size: inherit;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  padding: 2px 10px;
}

.section-subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-block-end: 20px;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
  padding: 2px 10px;
  background-size: auto;
  height: fit-content;
}

.title-decor {
  font-weight: bold;
  padding: 2px 10px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 20px;
}

.content-subtitle {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
  font-weight: bold;
  padding: 2px 10px;
  margin-block-end: 10px;
  display: inline-block;
}

.advice-title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
  padding: 2px 10px;
  margin-block-end: 10px;
  display: inline-block;
}

.content-blocks-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.footer {
  position: relative;
  min-height: 668px;
  display: grid;
  place-items: center;
  padding: 10px;
  text-align: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--title-shadow);
}

/* ПЛАНШЕТ */

@media (width >= 768px) {
  :root {
    --gap: 20px;
  }

  .header {
    padding: 20px;
    min-height: 1024px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__subtitle {
    max-inline-size: 364px; /* Ширина */
    min-block-size: 117px; 
    justify-self: end;
    margin-inline-end: 20px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
    margin-block-end: 0;
  }

  .main {
    gap: 60px; 
    padding: 60px 20px;
  }

  .content-section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content-section:first-of-type .section-title {
    grid-column: 1;
  }

  .content-section:first-of-type .content-block {
    grid-column: 2;
  }

  .content-section:nth-of-type(2) {
    display: block;
  }

  .content-section:nth-of-type(2) .content-blocks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content-section:nth-of-type(3) .section-title {
    grid-column: 1;
  }

  .content-section:nth-of-type(3) .section-subtitle {
    grid-column: 2;
  }

  .content-section:nth-of-type(3) .content-block {
    grid-column: 2;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 20px;
  }

  .gallery img:first-child {
    grid-column: span 2;
    grid-row: 1;
    height: 100%;
  }

  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
    height: 100%;
  }

  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 100%;
  }

  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
  }

  .gallery img:last-child {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: 100%;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* ДЕСКТОП */

@media (width >= 1024px) {
  :root {
    --section-gap: 80px;
  }

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin-inline-end: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    max-inline-size: 491px; /* Ширина */
    min-block-size: 71px; 
    margin-inline-end: 20px;
  }

  .main {
    gap: 60px; 
    padding: 60px 20px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section:first-of-type {
    grid-template-columns: 1fr 2fr;
  }

  .content-section:first-of-type .section-title {
    grid-column: 1;
  }

  .content-section:first-of-type .content-block {
    grid-column: 2;
  }

  .content-section:nth-of-type(2) .section-title {
    grid-column: 1 / -1;
  }

  .content-section:nth-of-type(2) .content-blocks-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section:nth-of-type(3) {
    grid-template-columns: 1fr 2fr;
  }

  .content-section:nth-of-type(3) .section-title {
    grid-column: 1;
  }

  .content-section:nth-of-type(3) .section-subtitle {
    grid-column: 2;
  }

  .content-section:nth-of-type(3) .content-block {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }

  .gallery img:first-child {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery img:last-child {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    min-height: 768px;
  }
}